main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:tomato;
    padding-top: 10px;
    padding-right: 36px;
    padding-bottom: 10px;
    padding-left: 36px;
    align-items: center;
}

div{

    width: 25%;
    text-align: center;

}